datasets
accelerate
fastapi<0.116
chromadb
joblib
langchain
langchain-chroma
langchain-huggingface
langchain-openai
matplotlib
mlflow
numpy
pandas
pydantic
pyyaml
scikit-learn
sentence-transformers
tqdm
transformers<5
uvicorn
